*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-arpona;
}

body{
  min-height: 100vh;
  background: url(../images/background.png) no-repeat center center/cover;
}

.bg-image-blue{
  background: url(../images/background-blue.png) no-repeat right;
}

.shadow-text-primary{
  text-shadow: 0 0 10px #F7DEA7;
}
.shadow-text-secondary{
  text-shadow: 0 0 10px #212857;
}

.shadow-box-primary{
  box-shadow: 0 0 10px #F7DEA7;
}
.shadow-box-secondary{
  box-shadow: 0 0 10px #212857;
}

.font-eulogy{
  font-family: $font-eulogy;
}
.font-arpona{
  font-family: $font-arpona;
}