*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-roboto-black;
  font-size: clamp(1.1rem, 3vw, 3rem);
  color: $color-secondary;
}

body{
  background: $color-primary;
}