// Colors
$color-primary: #212857;
$color-secondary: #F7DEA7;

// Radius
$radius-xl: 20px;
$radius-m: 10px;
$radius-xs: 5px;

// Shadows
$shadow-m: 0 0 10px rgba(0, 0, 0, 0.2);
$shadow-xl: 0 0 20px rgba(0, 0, 0, 0.2);

// Spacing
$spacing-xl: 20px;
$spacing-m: 10px;

// Fonts
$font-eulogy: "eulogy-regular";
$font-arpona: "arpona-regular";